<div class="md-padding" layout="column">
	<!--<div layout-xs="column" layout="row">-->
		<!--<div flex-xs="" flex-gt-xs="50" layout="column">-->
			<!--<md-card md-theme="" md-theme-watch="">-->
				<!--&lt;!&ndash;         <md-card-title>-->
                          <!--<md-card-title-text>-->
                            <!--<span class="md-headline">Card with image</span>-->
                            <!--<span class="md-subhead">Extra Large</span>-->
                          <!--</md-card-title-text>-->
                        <!--</md-card-title> &ndash;&gt;-->
				<!--<md-card-content layout="row" layout-align="space-between">-->
					<!--&lt;!&ndash;<div class="md-media-xl card-media"></div>&ndash;&gt;-->
					<!--<plotly plotly-data="data1" plotly-layout="layout" plotly-options="options" plotly-events="plotlyEvents"></plotly>-->
					<!--&lt;!&ndash;<h2 class="md-title">Content from: plots page</h2>&ndash;&gt;-->

					<!--&lt;!&ndash;           <md-card-actions layout="column">-->
                                <!--<md-button class="md-icon-button" aria-label="Favorite">-->
                                  <!--<md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>-->
                                <!--</md-button>-->
                                <!--<md-button class="md-icon-button" aria-label="Settings">-->
                                  <!--<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>-->
                                <!--</md-button>-->
                                <!--<md-button class="md-icon-button" aria-label="Share">-->
                                  <!--<md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>-->
                                <!--</md-button>-->
                              <!--</md-card-actions> &ndash;&gt;-->
				<!--</md-card-content>-->
			<!--</md-card>-->
		<!--</div>-->
		<!--<div flex-xs="" flex-gt-xs="50" layout="column">-->
			<!--<md-card md-theme="" md-theme-watch="">-->
				<!--<md-card-content layout="row" layout-align="space-between">-->
					<!--<plotly plotly-data="data2" plotly-layout="layout" plotly-options="options" plotly-events="plotlyEvents"></plotly>-->
					<!--&lt;!&ndash;<h2 class="md-title">Content from: plots page</h2>&ndash;&gt;-->
				<!--</md-card-content>-->
			<!--</md-card>-->
			<!--&lt;!&ndash;<md-card md-theme="" md-theme-watch="">&ndash;&gt;-->
				<!--&lt;!&ndash;<md-card-content layout="row" layout-align="space-between">&ndash;&gt;-->
				<!--&lt;!&ndash;<plotly plotly-data="data3" plotly-layout="layout" plotly-options="options"></plotly>&ndash;&gt;-->
				<!--&lt;!&ndash;&lt;!&ndash;<h2 class="md-title">Content from: plots page</h2>&ndash;&gt;&ndash;&gt;-->
				<!--&lt;!&ndash;</md-card-content>&ndash;&gt;-->
			<!--&lt;!&ndash;</md-card>&ndash;&gt;-->
		<!--&lt;!&ndash;</div>&ndash;&gt;-->
		<!--&lt;!&ndash;<div flex-xs="" flex-gt-xs="50" layout="column">&ndash;&gt;-->
			<!--&lt;!&ndash;<md-card md-theme="" md-theme-watch="">&ndash;&gt;-->
				<!--&lt;!&ndash;<md-card-content layout="row" layout-align="space-between">&ndash;&gt;-->
					<!--&lt;!&ndash;<plotly plotly-data="data4" plotly-layout="layout" plotly-options="options"></plotly>&ndash;&gt;-->
					<!--&lt;!&ndash;&lt;!&ndash;<h2 class="md-title">Content from: plots page</h2>&ndash;&gt;&ndash;&gt;-->
				<!--&lt;!&ndash;</md-card-content>&ndash;&gt;-->
			<!--&lt;!&ndash;</md-card>&ndash;&gt;-->
			<!--&lt;!&ndash;<md-card md-theme="" md-theme-watch="">&ndash;&gt;-->
				<!--&lt;!&ndash;<md-card-content layout="row" layout-align="space-between">&ndash;&gt;-->
					<!--&lt;!&ndash;<plotly plotly-data="data5" plotly-layout="layout" plotly-options="options"></plotly>&ndash;&gt;-->
					<!--&lt;!&ndash;&lt;!&ndash;<h2 class="md-title">Content from: plots page</h2>&ndash;&gt;&ndash;&gt;-->
				<!--&lt;!&ndash;</md-card-content>&ndash;&gt;-->
			<!--&lt;!&ndash;</md-card>&ndash;&gt;-->
			<!--&lt;!&ndash;<div ng-click="vm.showFilterBottom($event)" >&ndash;&gt;-->
				<!--&lt;!&ndash;<p>xdfbxfgnbxfghn</p>&ndash;&gt;-->
			<!--&lt;!&ndash;</div>&ndash;&gt;-->
		<!--</div>-->
	<!--</div>-->
	<!--<md-card md-theme="" md-theme-watch="">-->
		<!--<md-card-content layout="row" layout-align="space-between">-->
			<!--<div range-slider min="layout.xaxis.rangeslider.range[0]" max="layout.xaxis.rangeslider.range[1]" model-min="layout.xaxis.range[0]" model-max="layout.xaxis.range[1]">-->
				<!--<plotly style="height:100px" plotly-data="data3" plotly-layout="timeline_layout" plotly-options="timeline_options" plotly-events="plotlyEvents"></plotly>-->
				<!--&lt;!&ndash;<h2 class="md-title">Content from: plots page</h2>&ndash;&gt;</div>-->
		<!--</md-card-content>-->
	<!--</md-card>-->
	<md-card md-theme="" md-theme-watch="">
		<md-card-content layout-xs="column" layout="row" layout-align="space-between">
			<style type="text/css">
				.selectdemoSelectHeader {
					/* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
				.selectdemoSelectHeader .demo-header-searchbox {
					border: none;
					outline: none;
					height: 100%;
					width: 100%;
					padding: 0; }
				.selectdemoSelectHeader .demo-select-header {
					box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
					padding-left: 10.667px;
					height: 48px;
					cursor: pointer;
					position: relative;
					display: flex;
					align-items: center;
					width: auto; }
				.selectdemoSelectHeader md-content._md {
					max-height: 240px;
				}
				md-input-container {
					height: 100%;
				}
				md-list {
					overflow-y: scroll;
				}
			</style>
			<div flex-xs="" flex-gt-xs="50" layout="column">
				<plotly plotly-data="data_map" plotly-layout="map_layout" plotly-options="options"></plotly>
			</div>
			<div flex-xs="" flex-gt-xs="50" layout="column" style="max-height: 450px;">
				<md-input-container layout="column">
					<label>Chemicals</label>
					<md-select ng-model="selectedVegetables" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" multiple="" flex-order="1">
						<md-select-header class="demo-select-header">
							<input ng-model="searchTerm" type="search" placeholder="Search for chemical.." class="demo-header-searchbox md-text">
							<md-button ng-click="toggleSelect()" class="demo-header-selectall">{{selectText}}</md-button>
						</md-select-header>
						<md-optgroup label="vegetables">
							<md-option ng-value="vegetable" ng-repeat="vegetable in vegetables |
				  filter:searchTerm">{{vegetable.name}}</md-option>
						</md-optgroup>
					</md-select>

					<md-list class="md-dense" flex="" flex-order="2">
						<md-subheader class="md-no-sticky">3 line item (dense)</md-subheader>
						<md-list-item class="md-1-line" ng-repeat="item in selectedVegetables" ng-click="selectedVegetables.splice(selectedVegetables.indexOf(item),1)">
							<div class="md-list-item-text" layout="column">
								{{item.name}}
							</div>
						</md-list-item>
						<!--<md-divider></md-divider>-->
						<!--<md-subheader class="md-no-sticky">2 line item</md-subheader>-->
						<!--<md-list-item class="md-2-line">-->
							<!--<img ng-src="{{todos[0].face}}?20" class="md-avatar" alt="{{todos[0].who}}">-->
							<!--<div class="md-list-item-text">-->
								<!--<h3>{{ todos[0].who }}</h3>-->
								<!--<p>Secondary text</p>-->
							<!--</div>-->
						<!--</md-list-item>-->
					</md-list>
				</md-input-container>
			</div>
		</md-card-content>
	</md-card>
	<!--<md-card md-theme="" md-theme-watch="">-->
		<!--<md-card-content layout="row" layout-align="space-between">-->
			<!--<div id="map_container" style="height: 800px"></div>-->
		<!--</md-card-content>-->
	<!--</md-card>-->
</div>
